// src/css/footer.scss

#colophon {
  background-color: var(--gris);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  text-align: center;
  .logo {
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
  }
  .info{
    padding:  0 2rem 3rem 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
    color: var(--blanc);
    .box {
      width: 21%;
      display: flex;
      flex-flow: column wrap;
      gap: 2rem;
    }
    .contact{
      li{
        display: flex;
        flex-flow: row wrap;
        gap: .2rem;
        padding: .5rem 0;
        color: var(--blanc);
        svg {
          width: 20px;
        }
      }
    }
    .lien{
      ul{
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;
        a{
          color: var(--blanc);
        }
      }
    }
    .emplois{
      ul{
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;
        a{
          color: var(--blanc);
        }
      }
    }
    .separator{
      margin: 2.5rem 0;
      background-color: var(--bleu);
      height: 150px;
      width: 3px;
    }
  }
  .copyright {
    background-color: var(--bleu);
    padding: 1rem;
    color: var(--blanc);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    .img_reseau {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 1rem;
      .img{
        width: 20px;
      }
    }
  }
}
