// src/css/style.scss
* {
    margin: 0;padding: 0;box-sizing: border-box;
  }
  ul,ol{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  body {
    background-color: #FFFFFF;
    color: darkslategray;
  }

  :root {
    --gris: #333333;
    --bleu: #26619C;
    --creme: #FAF0E6;
    --blanc: #ffffff;
  }

  